body {
	background: #CCCCCC
}

#flores{
	   width: 1000px;
	   height: 800px;
	 margin-left: 130px;
}

H1{
   text-align: center;
}

p {
   text-align: center;	
}

#missao {
     font-size: 20px
}

em strong
     color: #FF0000;
}
     
 